<header class="flex" style="padding: 6px 10px; justify-content: space-around">
  <div
    style="
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 7%;
    "
    class=""
  >
    <img style="height: 160px" src="../../../assets/logo.png" alt="" />
  </div>

  <div style="margin-top: 10px; text-align: center">
    <h2>MULTIFORMA SEMENTES DE PASTAGEM</h2>
    <p>Rua Dr. Nicola Casal Caminha, n 187 - Polo Empresarial Norte</p>
    <p>Cep 79.018-815 - Campo Grande - MS</p>
    <p>Contato: (67) 3026-2600</p>
    <p [innerHTML]="'E-mail: multiformasementes@dasdas.com'"></p>
    <p>multiformasementes.com.br</p>
  </div>
</header>
